*{
    margin: 0;
    padding: 0;
    background-color: black;
}
.roomcontainer img{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    justify-items: center;
    align-items: center;
}
a{
    display: inline-block;
    width: min-content;
    height: min-content;
}